body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  height:100%;
  position: absolute;
  width: 300px;
  z-index: 5;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}

.map {
  height: 100vh;
  width: calc(100vw -300px);
}

.toggle {
  background: #fff;
  border: 2px solid #888;
  border-radius: 5px;
  fill: #888;
  position: absolute;
  right: 10px;
  top: 10px;
  width:40px;
  z-index: 5;
}

.open {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.loading {
  display:flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align:center;
}

.loading-message {
  font-style:italic;
  font-weight: 300;
}
@media (min-width: 600px) {

  .list {
    position:relative;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .map {
    margin-left: 300px
  }

  .toggle {
    display: none;
  }
}


/* colors
lt green: #aee9c6
mid blue: #3594c5
*/
