body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  -webkit-transform: translate(-260px, 0);
  transform: translate(-260px, 0);
  transition: transform 0.3s ease;
  width: 220px;
  z-index: 5;
}

.map {
  height: 100vh;
}

.places-list {
  list-style-type: none;
  padding: 0;
}

.place {
  margin: 10px 0;
}

.query {
  border: 5px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  font-size: 18px;

  margin: 0 0 10px 0;
    padding: 10px;
    width: 200px;
}

.error {
  color: #eca1a6;
  font-style: italic;
}

.toggle {
  background: #fff;
  border: 2px solid #888;
  border-radius: 5px;
  fill: #888;
  position: absolute;
  right: 10px;
  top: 10px;
  width:40px;
  z-index: 5;
}

.open {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.loading {
  display:flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align:center;
}

.loading-message {
  font-style:italic;
  font-weight: 300;
}

@media (min-width: 600px) {

  .list {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .map {
    margin-left: 300px
  }

  .toggle {
    display: none;
  }
}


/* colors
lt green: #aee9c6
mid blue: #3594c5
#eca1a6
*/
